bidict==0.23.1
certifi==2024.2.2
charset-normalizer==2.0.12
click==8.1.7
colorama==0.4.6
Flask==2.1.2
Flask-SocketIO==5.1.1
h11==0.14.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
paho-mqtt==2.1.0
python-engineio==4.9.1
python-socketio==5.11.2
requests==2.27.1
simple-websocket==1.0.0
urllib3==1.26.18
Werkzeug==2.0.3
wsproto==1.2.0
