<!DOCTYPE html>
<html>
<head>
    <title>Weather Alert App</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script>
        // Client-side theme initialization
        document.addEventListener('DOMContentLoaded', () => {
            const mode = getCookie('mode');
            const themeSelect = document.getElementById('theme');
            const testSoundImage = document.getElementById('test-sound-image');

            if (mode === 'dark') {
                document.body.classList.add('dark-mode');
                themeSelect.value = 'dark'; // Update theme selector dropdown
                testSoundImage.src = 'static/images/soundtest_modedark.png'; // Change to dark mode image
            } else {
		        themeSelect.value = 'light'; // Update theme selector dropdown
                testSoundImage.src = 'static/images/soundtest_modelight.png'; // Change to default/light mode image
            }
        });
        // Helper function to get cookie value by name
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
    </script>
</head>
<body>
    <header>
        <h1>Weather Alert App</h1>
        <div class="selectors">
            <div class="refresh-selector">
                <label for="refresh-time">Refresh Time:</label>
                <select id="refresh-time">
                    <option value="60">60 seconds</option>
                    <option value="45">45 seconds</option>
                    <option value="30">30 seconds</option>
                </select>
                <span id="countdown-since-refresh"></span>
            </div>
            <div class="theme-selector">
                <label for="theme">Theme:</label>
                <select id="theme">
                    <option value="light" {% if mode == 'light' %}selected{% endif %}>Light Mode</option>
                    <option value="dark" {% if mode == 'dark' %}selected{% endif %}>Dark Mode</option>
                </select>
            </div>
            <div class="testsound-selector">
                <label for="testsound">Test Sound:</label>
                <img id="test-sound-image" src="static/images/soundtest_modelight.png" height="20px"></img>
            </div>
        </div>
    </header>
    <div class="feeds-container">
        <div class="feed-container">
            <h2>{{ leftchatname }} Chat Feed</h2>
            <p class="last-update">Last updated: <span id="last-update-time-leftchat"></span></p>
            <p class="countdown">Time since last update: <span id="countdown-leftchat"></span></p>
            <div id="feed-leftchat" class="feed"></div>
            <div class="pagination">
                <button id="prevPage-leftchat">Previous</button>
                <button id="nextPage-leftchat">Next</button>
            </div>
        </div>
        <div class="feed-container">
            <h2>{{ rightchatname }} Chat Feed</h2>
            <p class="last-update">Last updated: <span id="last-update-time-rightchat"></span></p>
            <p class="countdown">Time since last update: <span id="countdown-rightchat"></span></p>
            <div id="feed-rightchat" class="feed"></div>
            <div class="pagination">
                <button id="prevPage-rightchat">Previous</button>
                <button id="nextPage-rightchat">Next</button>
            </div>
        </div>
    </div>
    <audio id="notification-sound" src="static/sounds/notification-sound.wav"></audio>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
    <script type="module" src="static/js/main.js"></script>

</body>
</html>
